<h1>Tvs#show</h1>
<div class="row justify-content-center">
  <table class="table table-bordered">
        <tr>
            <th scope="col">Name</th>
            <td><%= @tv.name%></td>          
        </tr>
        <tr>
            <th scope="col">Company</th>
            <td><%= @tv.company%></td>          
        </tr>
        <tr>
            <th scope="col">Price</th>
            <td><%= @tv.price%></td>          
        </tr>
        <tr>
            <th scope="col">Model</th>
            <td><%= @tv.model%></td>          
        </tr>
  </table>
</div>
