<h1>Show Page</h1>
<div class="row justify-content-center">
    <table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="col">First_Name</th>
            <td><%= @customer.first_name%></td>          
        </tr>
        <tr>
            <th scope="col">First_Name</th>
            <td><%= @customer.last_name%></td>          
        </tr>
        <tr>
            <th scope="col">Email</th>
            <td><%= @customer.email%></td>          
        </tr>
        <tr>
            <th scope="col">Phone_No</th>
            <td><%= @customer.phone_no%></td>          
        </tr>
    </tbody>
    </table>
</div>