<h1>Autos#show</h1>
<div class="row justify-content-center">
    <table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="col">Vehical</th>
            <td><%= @auto.vehical%></td>          
        </tr>
        <tr>
            <th scope="col">Color</th>
            <td><%= @auto.color%></td>          
        </tr>
        <tr>
            <th scope="col">Company</th>
            <td><%= @auto.company%></td>          
        </tr>
    </tbody>
    </table>
</div>
