<h1>Show Page</h1>
<div class="row justify-content-center">
    <table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="col">Name</th>
            <td><%= @fbr.name%></td>          
        </tr>
        <tr>
            <th scope="col">Bank</th>
            <td><%= @fbr.bank%></td>          
        </tr>
        <tr>
            <th scope="col">Tex</th>
            <td><%= @fbr.tex%></td>          
        </tr>
    </tbody>
    </table>
</div>